*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

:root{
    /* Backgorund */
    --bg-hero: url(../assets/background.png);
    /* colors */
    --main-color: #FF2B44;
    --light-green: #49C99A;
    --blue: #2B99FF;
    --dark-blue: #203e99;
    --light-gray: #dfdfe0;
    --lighter-gray: #f7f8ff;
    --theme-color: #ffffff;

    /* Sizes */
    --logo-size: 6rem;
    --icon-size: 6rem;

    /* Font */
    font-family: 'Roboto', sans-serif;
}
body{
    overflow: hidden;
}
label{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: var(--dark-blue);
}
input[type="checkbox"]{
    cursor: pointer;
}
img{
    width: 100%;
    height: 100%;
}
/* Layout */
.main__container{
    display: flex;
}
/* synapse */
.synapse{
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 8rem;
}
.synapse__logo{
    width: var(--logo-size);
    height: var(--logo-size);
    margin-bottom: 4rem;
}
.synapse__introduce{
    width: 100%;
    margin-bottom: 1rem; 
}
.synapse__introduce h2{
    width: 18.39rem;
}
.synapse__introduce p{
    font-weight: 400;
}
.synapse__form{
    width: 100%;
    margin: 1rem 0; 
}
.synapse__form{
    height: 26rem;
}
.synapse__form-register-a,
.synapse__form-register{
    display: flex;
    flex-direction: column;
    height: 31rem;
    width: 100%;
    margin: 1rem 0; 
}
.synapse__form,
.form__data-container{
    display: flex;
    flex-direction: column;
}
.form__data-container input{
    height: 2.9rem;
    padding: .4rem 1rem;
    margin: .8rem 0;
    border-radius: 5px;
    outline: none;
    border: 1px var(--light-gray) solid;
    font-size: 1rem;
}

.form__options-container{
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.btn{
    cursor: pointer;
    padding: 1rem .4rem;
    border: none;
    border-radius: 5px;
    margin: .8rem 0;
    color: var(--theme-color);
    background-color: var(--main-color);
}
.btn-recuperar{
    cursor: pointer;
    padding: 1rem .4rem;
    border: none;
    border-radius: 5px;
    margin: 2rem 0;
    color: var(--theme-color);
    background-color: var(--main-color);
}
.btn,
.btn-recuperar{
    font-size: 1rem;
    font-weight: 600;
}
.synapse__footer > p > a{
    color: var(--main-color);
}
.pink{
    color: var(--main-color);
}
/* Modal */
.modal__sendemail{
    background-color: var(--theme-color);
    position: absolute;
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.modal__card{
    display: flex;
    flex-direction: column;
    height: 25rem;
    width: 25rem;
    box-shadow: 0px 1px 20px 0px var(--light-gray)
}

.top-side,
.bottom-side{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    padding: 2rem;
}
.bottom-side{
    flex-direction: column;
}
.bottom-side > *{
    margin: .5rem 0;
}
.msg{
    font-weight: 500;
}
.msg__description{
    text-align: center;
    font-weight: 300;
    font-size: 1.1rem;
}
.icon__container{
    width: var(--icon-size);
    height: var(--icon-size);
    background-color: var(--lighter-gray);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon__container img{
    width: 3rem;
    height: 3rem;
    margin-right: .2rem;

}
.btn__modal{
    cursor: pointer;
    padding: .4rem 1rem;
    border: none;
    border-radius: 5px;
    margin: .8rem 0;
    color: var(--theme-color);
    background-color: var(--main-color);
}

/* Banner */
.hero{
    width: 60vw;
    height: 100vh;
    background-image: var(--bg-hero);
    background-repeat: no-repeat;
    background-size: cover;
}

.error{
    border: #ee0808 2px solid !important;
}
.ok{
    border: #1bee08 2px solid !important;
}

@media screen and (max-width: 1500px) {
    .synapse {
        width: 40vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5rem 5rem;
    }
}
@media screen and (max-width: 1285px) {
    .synapse {
        width: 40vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5rem 3rem;
    }
}
@media screen and (max-width: 1170px) {
    .synapse {
        width: 50vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5rem 3rem;
    }
    .hero{
        width: 50vw;
        height: 100vh;
        background-image: var(--bg-hero);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media screen and (max-width: 930px) {
    .synapse {
        width: 55vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5rem 3rem;
    }
    .hero{
        width: 45vw;
        height: 100vh;
        background-image: var(--bg-hero);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media screen and (max-width: 680px) {
    .synapse {
        border-radius: 20px;
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 2rem;
        position: absolute;
        background-color: var(--theme-color);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    .form__options-container{
        flex-direction: column;
    }
    .form__options-container *{
        margin: .6rem 0;
    }
    .synapse__form-register-a{
        height: 25rem;
        overflow: scroll;
    }
    .hero{
        width: 100vw;
        height: 110vh;
        background-image: var(--bg-hero);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (max-width: 400px) {
    :root{
        font-size: 14px;
    }
}
@media screen and (max-width: 330px) {
    :root{
        font-size: 13px;
    }
}
@media screen and (max-width: 300px) {
    :root{
        font-size: 12px;
    }
}
@media screen and (max-width: 255px) {
    :root{
        font-size: 10px;
    }
}
@media screen and (max-width: 220px) {
    :root{
        font-size: 8px;
    }
}
@media screen and (max-width: 200px) {
    :root{
        font-size: 6px;
    }
}
@media screen and (max-width: 140px) {
    :root{
        font-size: 4px;
    }
}
@media screen and (max-width: 100px) {
    :root{
        font-size: 2px;
    }
}