*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

:root{
    /* colors */
    --main-color: #FF2B44;
    --light-green: #49C99A;
    --blue: #2B99FF;
    --dark-blue: #203e99;
    --light-gray: #dfdfe0;
    --lighter-gray: #f7f8ff;
    --theme-color: #ffffff;

    /* Sizes */
    --logo-size: 6rem;
    --logo-margin-bottom: 3rem;
    --icon-size: 6rem;

    /* Font */
    font-family: 'Inter', sans-serif;
}

label{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: var(--dark-blue);
}
input[type="checkbox"]{
    margin-right: .3rem;
    cursor: pointer;
}
img{
    height: 100%;
}

.separador{
    display: flex;
    align-items: center;
}
.separador a {
    margin: 0;
    text-align: center;

}
/* synapse */
.synapse {
    width: 40rem;
    margin: 0 auto;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 8rem;
}
.synapse__logo{
    height: var(--logo-size);
    margin-bottom: var(--logo-margin-bottom);
}
.synapse__logo-password{
    height: var(--logo-size);
    margin-bottom: 3rem;
}
.recovery__img{
    margin-bottom: 3rem;
}
.synapse__introduce{
    text-align: center;
    width: 25rem;
    margin-bottom: 1rem; 
}
.synapse__introduce p{
    font-weight: 400;
}
.synapse__form{
    width: 25rem;
    margin: 1rem 0; 
}
.synapse__form-register-a,
.synapse__form-register{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    width: 25rem; 
}
.synapse__form,
.form__data-container{
    display: flex;
    flex-direction: column;
}
.form__data-container input{
    height: 2.9rem;
    padding: .4rem 1rem;
    margin: .8rem 0;
    border-radius: 5px;
    outline: none;
    border: 1px var(--light-gray) solid;
    font-size: 1rem;
}

.form__options-container{
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn{
    cursor: pointer;
    padding: 1rem .4rem;
    border: none;
    border-radius: 5px;
    margin: .8rem 0;
    color: var(--theme-color);
    background-color: var(--main-color);
}
.btn-fake{
    display: block;
    cursor: pointer;
    padding: 1rem 1rem;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin: .8rem 0;
    color: var(--theme-color);
    background-color: var(--main-color);
}

.btn-recuperar{
    cursor: pointer;
    padding: 1rem .4rem;
    border: none;
    width: 100%;
    border-radius: 5px;
    margin: 2rem 0;
    color: var(--theme-color);
    background-color: var(--main-color);
}
.btn,
.btn-recuperar{
    font-size: 1rem;
    font-weight: 600;
}
.synapse__footer > p > a{
    color: var(--main-color);
}
.synapse__footer{
    text-align: center;
    width: 25rem;
}
.synapse__footer-d{
    text-align: center;
    width: 100%;
}
.pink{
    color: var(--main-color);
}
/* Modal */
.modal__sendemail{
    background-color: var(--theme-color);
    position: absolute;
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
    
    width: 100vw;
}

.msg{
    font-weight: 500;
}
.msg__description{
    text-align: center;
    font-weight: 300;
    font-size: 1.1rem;
}
.icon__container{
    width: var(--icon-size);
    height: var(--icon-size);
    background-color: var(--lighter-gray);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon__container img{
    width: 3rem;
    height: 3rem;
    margin-right: .2rem;

}

.dont__worry{
    margin-top: 1rem;
    color: #acacaf;
}

.dont__worry-s{
    margin-top: 0;
    margin-bottom: 1rem;
    color: #acacaf;
}

.dont__worry-d{
    margin-top: 1rem;
    color: #acacaf;
    text-align: center;
    line-height: 30px;
}

input[class="password__recovery"]{
    margin-bottom: 0;
}


.error{
    border: #ee0808 2px solid ;
}
.ok{
    border: #1bee08 2px solid ;
}

.bolder-black{
    color: #000000;
    font-weight: 700;
}

.span__blue{
    color: var(--blue);
}

@media screen and (max-width: 1500px) {
    .synapse {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5rem 5rem;
    }
}
@media screen and (max-width: 1285px) {
    .synapse {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5rem 3rem;
    }
}
@media screen and (max-width: 1170px) {
    .synapse {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5rem 3rem;
        margin-top: 3rem;
    }
}
@media screen and (max-width: 930px) {
    .synapse {
        margin-top: 3rem;
        width: 55vw;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5rem 3rem;
    }
}
@media screen and (max-width: 900px) {
    .synapse {
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        background-color: var(--theme-color);
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 3rem;
    }
    .form__options-container *{
        margin: .6rem 0;
    }


}
@media screen and (max-width: 500px ) {
    .synapse__form-register-a,
    .synapse__form-register{
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
        width: 22rem; 
    }
    .synapse__form{
        width: 22rem;
    }
    .synapse__footer{
        width: 22rem;
    }
    .synapse__introduce{
        text-align: center;
        width: 22rem;
        margin-bottom: 1rem; 
    }
}
@media screen and (max-width: 400px) {
    :root{
        font-size: 14px;
    }
}
@media screen and (max-width: 330px) {
    :root{
        font-size: 13px;
    }
}
@media screen and (max-width: 300px) {
    :root{
        font-size: 12px;
    }
}
@media screen and (max-width: 255px) {
    :root{
        font-size: 10px;
    }
}
@media screen and (max-width: 220px) {
    :root{
        font-size: 8px;
    }
}
@media screen and (max-width: 200px) {
    :root{
        font-size: 6px;
    }
}
@media screen and (max-width: 140px) {
    :root{
        font-size: 4px;
    }
}
@media screen and (max-width: 100px) {
    :root{
        font-size: 2px;
    }
}